[Unit]
Description = Starts an instance of gpio-switch-poller
After = remote-fs.target

[Service]
User = root
Group = root
Type = simple
ExecStart = /usr/bin/gpio-switch-poller-runner /etc/gpio-switch-poller.conf
Restart = on-failure

[Install]
WantedBy = multi-user.target
